MONGO_URI=mongodb+srv://mdporanmolla776_db_user:<db_password>@cluster0.ov6r9mc.mongodb.net/wavetrack?appName=Cluster0
JWT_SECRET=wavetrack_super_secret_key_2026
FRONTEND_URL=https://wavetrack-3qux.onrender.com
PORT=5000
